/* .card-no-border .card {
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card .card-title {
  position: relative;
}

.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 15px;
  color: #99abb4;
} */

.card {
  margin-bottom: 30px;
  background-color: red;
}