<div class="flex_container">
    <div class="side">
        <div class="card">
            <h3 class="margin_off">Filtros</h3>
            <!-- <h3>Filtros</h3> -->
        </div>
        <div class="card">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="searchHotels(f.value)">
                <div class="row">
                    <app-stars [value]=1 [sm]="true"></app-stars>
                    <span>Nombre del Hotel</span>
                    <app-stars [value]="1" [sm]="true"></app-stars>
                </div>
                <div class="row content-filter">
                    <div class="input_seach">
                        <input type="text" name="name" [(ngModel)]="name" required placeholder="Ingrese el nombre del hotel">
                    </div>
                    <div>
                        <button type="submit" class="botton filter">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <section>
                <div>
                    <input type="checkbox" class="allstars-checkbox" (change)="valueStart($event.target)" name="option" value="6" [checked]="all"> Todas las estrellas<br>
                </div>
                <div *ngFor="let item of [5,4,3,2,1]" class="">
                    <!-- <input type="checkbox" name="'option'+item" (change)="valueStart2($event.target)" [value]="item" [checked]="stars[item-1]"> -->
                    <input type="checkbox" name="'option'+item" (change)="valueStart($event.target)" [value]="item" [checked]="checkValue(item)">
                    <app-stars [value]="item" [sm]="true"></app-stars>
                </div>
            </section>
        </div>
    </div>

    <div class="main">
        <div class="card" *ngFor="let hotel of data">
            <div class="row">
                <!-- <div class="fakeimg" style="flex:25">Image</div> -->
                <figure class="margin_off image" style="flex:25">
                    <img class="image_" [src]="(hotel.image | images  ) | safeImage" alt="Image">
                </figure>
                <div class="row column margin_off" style="flex:50; margin-left: 1.5rem;">
                    <h3 class="title margin_off">{{hotel.name}}</h3>
                    <app-stars [value]="hotel.stars"></app-stars>
                    <app-stars [icons]="hotel.amenities"></app-stars>
                </div>
                <div class="row column center middle dashed" style="flex:25">
                    <ng-container>
                        <span class="max_wh_14">Precio por noche habitación</span>
                        <div class="text_color row center">
                            <span>{{typeMoney}}   </span>
                            <span class="text_size">  {{hotel.price.$numberDecimal}}</span>
                        </div>
                    </ng-container>
                    <a class="botton">Ver hotel</a>
                </div>
            </div>
        </div>
    </div>
</div>