* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.flex_container {
    display: flex;
    background-color: rgba(244, 244, 244, 1);
    padding: 20px;
}

.side {
    flex: 25%;
    padding: 10px;
}

.main {
    flex: 75%;
    padding: 10px;
}

.fakeimg {
    background-color: #aaa;
    padding: 100px;
    width: 100%;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    /* max-height: 15rem; */
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.row {
    display: flex;
}

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.middle {
    align-items: center;
}

.top {
    align-items: flex-start;
}

.baseline {
    align-items: baseline;
}

.column {
    flex-direction: column;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgba(15, 41, 116, 1);
    max-width: 20rem;
    min-width: 16rem;
    border-radius: 6px;
}

.input_seach {
    display: flex;
    margin-right: 1rem; 
    width: calc(70% - 1rem);
    /* justify-content: flex-end */
}

.width_100 {
    width: 100%;
   padding-top: 0;
}

.input_seach input {
    padding: 0.5rem;
    width: 100%;
}

.title_filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
    /* row center between middle */
}

.title_filter * {
    pointer-events: none;
}


/* 
.card_collapsed div span{
    width : 0;
    height: 0;
    margin: 0.5rem 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-bottom: 0.3rem solid rgba(57, 119, 175, 1);
} */

.filter {
    /* width: 100%; */
    max-width: unset;
    min-width: 30%;
    border-radius: 0px;
    font-size: 1rem;
    border-style: none;
}

.filter button {
    width: 100%;
}
.title {
    color: rgba(57, 119, 175, 1);
}

.arrow_down {
   width : 0;
   height: 0;
   margin: 0.5rem 0;
   border-left: 0.3rem solid transparent;
   border-right: 0.3rem solid transparent;
   border-bottom: 0.3rem solid rgba(57, 119, 175, 1);
   /* border-top: 0.3rem solid rgba(57, 119, 175, 1); */
}

.card_collapsed form{
    display: none;
    
    /* border-bottom: 0rem solid rgba(57, 119, 175, 1); */
}

.card_collapsed .arrow_down{
    border-bottom: 0rem ;
    border-top: 0.3rem solid rgba(57, 119, 175, 1);
}

.card_collapsed section{
    display: none;

}
.text_color {
    color: rgba(235, 137, 35, 1);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.text_size {
    font-size: 2.5rem;
    font-weight: 600;
}

.margin_off {
    margin: 0;
}

figure {
    max-width: 100%;
    min-width: 19rem;
    overflow: hidden;
    max-height: 14rem;
}

div {
    max-width: 100%;
}

div .dashed {
    border-left-style: dashed;
    border-width: 1px;
    border-top-style: none;
    border-color: gray;
}

ng-container p {
    max-width: 11rem;
}

form {
    width: 100%;
}

.content-filter{
    width: 100;
}

.image_ {
    width: 100%;
    object-fit: cover;
}

.checks {
    max-width: 10px;
}

.max_wh_14 {
    max-width: 11rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .flex_container,
    .row {
        flex-direction: column;
    }
    div .dashed {
        border-left-style: none;
        border-top-style: dashed;
    }
    figure {
        min-width: 0rem;
    }
    .input_seach {
        width: 100%;
        margin-bottom: 0.5rem;
        max-width: unset; 
    }
}